/* [dir="rtl"] .caption-section{
    text-align: right;
}
[dir="rtl"]  .navbar>.container, .navbar>.container-fluid{
    flex-direction: row-reverse;
}
[dir="rtl"]  .navbar-expand-lg .navbar-collapse{
    flex-direction: row-reverse;
    justify-content: space-between;
}
[dir="rtl"]  .navbar-expand-lg .navbar-nav{
    flex-direction: row-reverse;
    margin: 0 !important;
} */