/*fonts*/
@font-face {
  font-family: poppins-bold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: poppins-medium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: poppins-semiBold;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

body {
  background-color: #1A1A1A;
}

.col-md-6 {
  height: 100vh;
}

/***navbar****/
.navbar {
  padding: .5rem 7rem;
}

.navbar .nav-item {
  margin-right: 75px;
}

.navbar .nav-item .nav-link, .navbar .nav-item .nav-link.active {
  color: #FFFFFF;
}

.navbar form .btn-outline-success {
  color: #ffffff;
  border-color: #ffffff;
  padding: 10px 38px;
}

.navbar form .btn-outline-success:hover {
  background-color: transparent;
}

/*landing-page*/
.landing-page .caption-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .caption-section .caption {
  padding-left: 7rem;
  text-transform: uppercase;
}

.landing-page .caption-section .caption h1 {
  font-family: poppins-bold;
  font-size: 4.1vw;
}

.landing-page .caption-section .caption h2 {
  font-family: poppins-bold;
  font-size: 4.1vw;
  color: #F2994A;
}

.landing-page .caption-section .caption p {
  font-family: poppins-semiBold;
  color: #A7A7A7;
  margin-bottom: 90px;
  font-size: 1.3vw;
}

.landing-page .caption-section .caption .start-codingBtn {
  background-color: #F5C01E;
  border: 0;
  padding: 1rem 3rem;
  font-size: 20px;
  font-family: poppins-semiBold;
  border-radius: 5px;
  cursor: pointer;
}

.landing-page .bg-image {
  max-width: 100%;
  height: auto;
  height: 100vh;
}

@media (max-width: 575.98px) {
  .navbar {
    padding: 0 20px;
  }
  .landing-page .caption-section .caption {
    padding-left: 0;
    text-align: center;
  }
  .landing-page .caption-section .caption .start-codingBtn {
    zoom: 57%;
  }
  .landing-page .caption-section .caption p {
    font-size: 2.3vw;
  }
  .background-section {
    display: none;
  }
  .landing-page .caption-section .caption p {
    font-size: 3.3vw;
  }
  .landing-page .caption-section .caption h2 {
    font-size: 15.1vw;
  }
  .landing-page .caption-section .caption h1 {
    font-size: 9.1vw;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .landing-page .caption-section .caption .start-codingBtn {
    zoom: 57%;
  }
  .background-section {
    display: none;
  }
  .landing-page .caption-section .caption p {
    font-size: 2.3vw;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .background-section {
    display: none;
  }
  .caption-section {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

[dir=rtl] .landing-page .caption-section {
  text-align: right;
}

[dir=rtl] .landing-page .caption-section .caption {
  padding-right: 7rem;
  padding-left: 0;
}

[dir=rtl] .navbar-expand-lg .navbar-nav {
  text-align: right;
  margin-left: auto;
  margin-right: 0 !important;
  padding-right: 0;
}

[dir=rtl] .navbar-brand {
  margin-left: 1rem;
  margin-right: 0;
}

[dir=rtl] .navbar .nav-item {
  margin-left: 75px;
  margin-right: 0;
}

@media (max-width: 575.98px) {
  [dir=rtl] .landing-page .caption-section .caption {
    padding-left: 0;
    padding-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */